body {
    background-color: #0F1C3F;
    margin: 0;
    padding: 0;
}

#mainNav{
    display: block;
    z-index: 10000;
    border-bottom: 1px solid #C4C4C4;
    color: white;
    position: fixed;
    top: 0px;
    left: 0%;
    right: 0%;
    padding: 2em;
    background-color: #040b1e;

}

#logo{
    color: #600409;
    font-size: 3em;
    font-family: 'Abhaya Libre', serif;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: #E50000;
    text-decoration: none;
    position: relative;
    left: 2.5%;
}
#movies, #rewards, #cart{
    font-size: 1.4em;
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    margin: 1em 10%;
    position: relative;
    left: 12em;
    color: white;
}
#movies:hover, #rewards:hover, #cart:hover{
    text-decoration: underline;
}

#featured {
    display: block;
    position: relative;
    top: 8em;
    margin: 1em 3em;
}
#featuredText {
    color: #E50000;
    display: block;
}


#regularText {
    color: #ffffff;
    display: block;
}

#movieSpace {
    display: inline-block;
    text-align: center;
    padding: 2em;
}


#movieInfo{
    position: absolute;
    width: 550px;
    height: 775px;
    left: 470px;
    top: 190px;

    color: #ffffff;
    display: block;
}

h3 {
    display: inline-block;
    vertical-align: top;
}

label {
    color: white;
    text-align: center;
    padding: 1em;
    display: block;

}


label {
    color: white;
    text-align: center;
    padding: 1em;
    display: block;

}

form{
    display: inline;
}

div {
    color: white;
}

#logo2{
    color: #600409;
    font-size: 3em;
    font-family: 'Abhaya Libre', serif;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: #E50000;
    text-decoration: none;
    position: relative;
    left: 2.5%;
    display: block;
}

#statement{
    position: relative;
    bottom: 0%;
    left: 45%;
    color: white;
    display: block;
}

#footer{
    background-color: #787878;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -1em;
}


#moviePayInfo{
    position: absolute;
    width: 561px;
    height: 74px;
    left: 350px;
    top: 75px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    
    color: #FFFFFF;
    }
    
    #ticketPayInfo{
    position: absolute;
    width: 316px;
    height: 76px;
    left: 10px;
    top: 570px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 39px;
    
    color: #FFFFFF;
    }
    
    #ticketPayInfo2{
        position: absolute;
        width: 316px;
        height: 76px;
        right: 500px;
        top: 570px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 39px;
        
        color: #FFFFFF;
        }
    
    #ticketPayBox{
        position: absolute;
        width: 300px;
        height: 550px;
        right: 50px;
        top: 75px;
        box-shadow: 0.5em 0 0.5em #000;
        border-radius: 30px;
        background-color: #C4C4C4;
    }
    
    .ticketPayDropDown{
        width: 300px;
        height: 550px;
        right: 50px;
        top: 76px;
        box-shadow: 0.5em 0 0.5em #000;
        border-radius: 30px;
        background-color: #C4C4C4;
    }
    
    #payBox{
        font-size: 28px;
        font-family: 'Inter';
        font-weight: 800;
        text-decoration: none;
        color: white;
        
    }
    








